.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

#bgFooter {
  z-index: 0;
  height: 11em;
  width: 100%;
  left: 0;
}

#bgFooter2 {
  z-index: 1;
  width: 70%;
  height: 1.6em;
  margin-top: 2.2em;
}

.textFooter {
  z-index: 1;
  margin-top: -8.5em;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#need {
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.5em;
}

#emailFooter {
  font-size: 1em;
  font-weight: 600;
  line-height: 2em;
}

#reserv {
  font-size: 0.6em;
}
