.GetInTouch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

#tatiana {
  z-index: 1;
  border-radius: 50%;
  width: 10em;
  margin-left: 2.3em;
}

#square {
  margin-top: -5.65em;
  margin-right: 8em;
  z-index: 0;
  background-color: #46BD62;
  width: 5em;
  height: 1.2em;
}

#titleGet {
  margin-top: 5em;
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 5em;
}

#titleGet h3 {
  text-align: left;
  color: #06152B;
  font-weight: 300;
}

#mail {
  height: 1.5em;
  margin-right: 1.4em;
  background-color: #46BD62;
  border-radius: 5px;
  padding: 0.5em;
}

#formGet {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#buttonForm {
  background-color: #46BD62;
  color: #FFFFFF;
  border: 1px solid #46BD62;
  border-radius: 3px;
  width: 84%;
  margin-left: 1em;
  font-size: 0.8em;
  padding: 0.6em;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.labelForms {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
  color: #06152B;
  font-size: 0.8em;
}

.labelForms input {
  width: 100%;
  margin-top: 0.5em;
  border-radius: 3px;
  padding: 0.5em;
  border: 1px solid #06152B;
  margin-bottom: 1.5em;
}

.labelForms input::placeholder {
  color: #9A9A9A;
}

#emailAndPhone {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#emailAndPhone label {
  width: 45%;
}

@media screen and (min-width:768px) and (max-width:1280px) {
  #titleGet {
    margin-left: 10em;
  }

  #emailAndPhone {
    justify-content: space-around;
    width: 85%;
  }

  #buttonForm {
    width: 82%;
  }
}


@media screen and (min-width:1280px) {
  #titleGet {
    margin-left: 16em;
  }

  #emailAndPhone {
    width: 84%;
  }

  #buttonForm {
    width: 81%;
  }
}
