.GoodThings {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  z-index: 0;
  background-color: #4AC959;
  padding-bottom: 2em;
}

.GoodThings h2 {
  color: #FFFFFF;
  font-size: 2.3em;
  margin-bottom: 0;
}

#sectionThings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width:768px) and (max-width:1280px) {
  .GoodThings {
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    margin-bottom: 12em;
    margin-top: 3.5em;
  }

  .GoodThings h2 {
    text-align: left;
    margin-left: 2em;
  }

  #sectionThings {
    flex-direction: row;
    position: absolute;
    margin-top: 5em;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 5em;
  }
}

@media screen and (min-width:1281px) {
  .GoodThings {
    width: 60%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 25em;
    margin-bottom: 12em;
    margin-top: 3.5em;
  }

  .GoodThings h2 {
    text-align: left;
    margin-left: 2em;
  }

  #sectionThings {
    flex-direction: row;
    position: absolute;
    margin-top: 5em;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 5em;
  }
}
