.Header {
  display: flex;
  flex-direction: column;
}

.headerTop {
  display: flex;
  width: 100%;
  margin-top: 1em;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.logoHeader {
  display: flex;
  align-items: center;
  margin-left: 1.4em;
}

.logoHeader img {
  width: 2em;
}

.logoHeader span {
  margin-left: 0.4em;
  font-size: 1.5em;
  font-weight: 500;
}

.buttonLogin {
  margin-right: 2em;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0.5em;
  font-size: 0.7em;
  font-weight: bold;
  width: 5em;
  border: 1px solid #000000;
}

.logo {
  width: 13em;
  height: 17em;
  z-index: 1;
  position: relative;
  left: 12em;
  top: -1.5em;
}

.room {
  width: 10em;
  margin-right: 1.4em;
}

.textHeader {
  width: 100%;
  display: flex;
  top: -15em;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.textHeader div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.4em;
}

.textHeader div p {
  text-align: left;
}

.paragraphOneHeader {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 20px;
}

.paragraphOneHeader span {
  color: #4AC959;
  font-size: 0.8em;
  font-weight: 400;
}

.paragraphTwoHeader {
  font-size: 0.7em;
}

.linkForTodo {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #4AC959;
  border: 1px solid #4AC959;
  border-radius: 5px;
  font-size: 0.8em;
  width: 9em;
  padding: 0.4em;
  font-weight: 500;
}

@media screen and (min-width:768px) and (max-width:1280px) { 
  .headerTop {
    margin-top: 1.5em;
  }
  
  .logoHeader {
    margin-left: 2em;
  }
  
  
  .buttonLogin {
    margin-right: 2.5em;
    padding: 0.7em;
    font-size: 0.8em;
    width: 6em;
  }
  
  .logo {
    width: 30em;
    height: 34em;
    left: 22.5em;
    top: -2.8em;
  }
  
  .room {
    width: 23em;
    margin-right: 2em;
  }
  
  .textHeader {
    top: -32em;
  }
  
  .textHeader div {
    margin-left: 2em;
  }
  
  .textHeader div p {
    text-align: left;
  }
  
  .paragraphOneHeader {
    font-size: 3.5em;
    font-weight: bold;
    line-height: 45px;
  }
  
  .paragraphTwoHeader {
    font-size: 1.2em;
  }
  
  .linkForTodo {
    font-size: 1.3em;
  }
}


@media screen and (min-width:1280px) { 
  .headerTop {
    margin-top: 2em;
  }
  
  .buttonLogin {
    margin-right: 2.5em;
    padding: 0.9em;
    font-size: 0.9em;
    width: 7em;
  }
  
  .logo {
    width: 40em;
    height: 40em;
    left: 40em;
  }
  
  .room {
    width: 27em;
  }
  
  .textHeader {
    top: -37em;
  }
  
  .textHeader div {
    margin-left: 2em;
  }
  
  .paragraphOneHeader {
    font-size: 4em;
  }
  
  .paragraphTwoHeader {
    font-size: 1.6em;
  }
  
  .linkForTodo {
    font-size: 1.6em;
  }
}
