.Login {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginContainer {
  display: flex;
  background-color: #FFFFFF;
  width: 90%;
  height: 55%;
}

#buttonCloseLogin {
  background-color: #FFFFFF;
  border: #FFFFFF;
  font-weight: bold;
  font-size: 1.2em;
  position: absolute;
  z-index: 11;
  right: 8%;
  top: 9em;
}

#image1 {
  padding-top: 10%;
  width: 35%;
  height: 35%;
  padding-left: 5%;
}

.formLogin {
  padding-top: 12%;
  padding-right: 2%;
}

.formLogin p {
  text-align: left;
  padding-left: 5%;
  font-size: 3em;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.formLogin p span {
  font-size: 20px;
  color: #4AC959;
  font-weight: normal;
}

.labelLogin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5%;
  font-weight: bold;
}

.inputLogin {
  margin-top: 4px;
  border: 1px solid #959595;
  border-radius: 4px;
  padding: 5px;
}

#buttonLogin {
  margin-top: 15%;
  padding: 6%;
  width: 80%;
  border: #4AC959;
  background-color: #4AC959;
  color: #FFFFFF;
  font-weight: bold;
}

@media screen and (min-width:768px) and (max-width:1194px) {
  #buttonCloseLogin {
    font-size: 1.6em;
    top: 11em;
  }
  
  #image1 {
    width: 45%;
    height: 45%;
  }

  .formLogin {
    width: 100%;
  }

  .formLogin p {
    font-size: 4.3em;
    line-height: 40px;
  }

  .formLogin p span {
    font-size: 0.5em;
    color: #4AC959;
    font-weight: normal;
  }

  .labelLogin {
    padding-top: 5%;
    padding-left: 1em;
    font-size: 1.6em;
    font-weight: bold;
  }
  
  .inputLogin {
    padding: 8px;
    width: 60%;
  }
  
  #buttonLogin {
    margin-top: 15%;
    padding: 3%;
    width: 50%;
    font-size: 1.5em;
    margin-right: 5em;
  }
}

@media screen and (min-width:1194px) and (max-width:1280px) {
  .LoginContainer {
    width: 50%;
    height: 70%;
  }
  
  #buttonCloseLogin {
    top: 8em;
    right: 18em;
  }
  
  .formLogin {
    padding-top: 2em;
    width: 100%;
  }
  
  .formLogin p {
    font-size: 4em;
    line-height: 50px;
    margin-bottom: 0.2em;
  }
  
  .formLogin p span {
    font-size: 0.6em;
    font-weight: 300;
  }
  
  .labelLogin {
    padding-left: 1em;
    font-size: 1.3em;
    font-weight: 500;
  }

  .inputLogin {
    padding: 8px;
    width: 48%;
    padding: 1.3em;
    border-radius: 10px;
  }
  
  #buttonLogin {
    margin-top: 1.55em;
    padding: 2%;
    width: 35%;
    font-size: 1.5em;
    margin-right: 6em;
  }
}

@media screen and (min-width:1281px) {
  .LoginContainer {
    width: 45%;
    height: 65%;
  }
  
  #buttonCloseLogin {
    top: 10em;
    right: 28em;
  }
  
  .formLogin {
    padding-top: 2em;
    width: 100%;
  }
  
  .formLogin p {
    font-size: 4em;
    line-height: 50px;
    margin-bottom: 0.2em;
  }
  
  .formLogin p span {
    font-size: 0.6em;
    font-weight: 300;
  }
  
  .labelLogin {
    padding-left: 1em;
    font-size: 1.3em;
    font-weight: 500;
  }

  .inputLogin {
    padding: 8px;
    width: 48%;
    padding: 1.3em;
    border-radius: 10px;
  }
  
  #buttonLogin {
    margin-top: 1.55em;
    padding: 2%;
    width: 35%;
    font-size: 1.5em;
    margin-right: 9.5em;
  }
}