.todoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -3.5em;
}

#todoBlock {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 20px solid #E88D39;
  box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
}

.buttonErase {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #000000;
  width: 70%;
  padding: 0.7em;
  font-size: 1.05em;
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 2em;
}

#titleTodo {
  font-size: 1.2em;
  font-weight: 300;
}

#titleTodo span {
  font-weight: bold;
  font-size: 1.6em;
  display: inline-block;
  margin-bottom: 0.6em;
}

#todosList {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#inputTodos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#inputTask {
  border: #FFFFFF;
  font-size: 1.1em;
}

#confirmTask {
  background-color: #FFFFFF;
  border: 2px solid #A1A1A1;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  font-size: 1.3em;
  color: #4AC959;
  margin-right: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

}

#inputTask::placeholder {
  font-weight: 600;
  color: #000000;
}

.donesBlock {
  width: 80%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 20px solid #4AC959;
  box-shadow: 0px 4px 12px rgba(66, 66, 66, 0.198454);
}

#detail1 {
  display: none;
}

#detail2 {
  display: none;
}

@media screen and (min-width:768px) and (max-width:1280px) {
  .todoSection {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: baseline;
    width: 80%;
    margin-top: -10.5em;
  }
  
  #todoBlock {
    width: 45%;
  }
  
  #inputTask {
    border: #FFFFFF;
    font-size: 1.1em;
  }
  
  .donesBlock {
    width: 45%;
  }
  
  #detail1 {
    display: flex;
    z-index: -3;
    position: absolute;
    left: 0;
    width: 5em;
    top: 60em;
  }
  
  #detail2 {
    position: absolute;
    display: flex;
    z-index: -3;
    top: 59.5em;
    width: 3.5em;
    left: 0;
  }
}


@media screen and (min-width:1280px) { 
  .todoSection {
    width: 70%;
  }
  
  #todoBlock {
    width: 40%;
  }

  .donesBlock {
    width: 40%;
  }

  #detail1 {
    width: 8em;
    top: 65em;
  }
  
  #detail2 {
    top: 67.5em;
    width: 5em;
  }
}