#todo {
  margin-top: -13.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#bg2 {
  position: relative;
  z-index: 0;
  width: 25em;
  left: 0;
}

.titleTodo {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-size: 0.6em;
  font-weight: 500;
  top: -11em;
}

.titleTodo span {
  display: inline-block;
  font-weight: bold;
  border-bottom: 1px solid #4AC959;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
